In [1]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Leemos el primer archivo
df_business = pd.read_pickle("Data/business.pkl")
df_business.info() # Visualizamos la información

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  business_id   5 non-null       object
 15  name          5 non-null       object
 16  address       5 non-null       object
 17  city          5 non-null       object
 18  state         5 non-null       object
 19  postal_code   5 non-null       object
 20  latitude      5 non-null       object
 21  longitude     5 non-null       object
 22  stars         5 non-null       object
 23  review_count  5 non-null       object
 24  is_open       5 non-null       object
 25  attributes    5 non-null       object
 26  categories    5 non-null       object
 27  hours         5 non-null       object
dtypes: object(28)
memory usage: 33.3+ MB

In [3]:
# Lo transformamos a un formato más manejable
df_business.to_csv("Data/New_data/df_business")

In [4]:
# Releemos la archivo en el formato correcto
df_business = pd.read_csv("Data/New_data/df_business")
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      150346 non-null  int64
 1   business_id     150346 non-null  object
 2   name            150346 non-null  object
 3   address         145219 non-null  object
 4   city            150346 non-null  object
 5   state           150343 non-null  object
 6   postal_code     150273 non-null  object
 7   latitude        150346 non-null  float64
 8   longitude       150346 non-null  float64
 9   stars           150346 non-null  float64
 10  review_count    150346 non-null  int64
 11  is_open         150346 non-null  int64
 12  attributes      136602 non-null  object
 13  categories      150243 non-null  object
 14  hours           127123 non-null  object
 15  business_id.1   5 non-null       object
 16  name.1          5 non-null       object
 17  address.1       5 non-null       object
 18  city.1          5 non-null       object
 19  state.1         5 non-null       object
 20  postal_code.1   5 non-null       object
 21  latitude.1      5 non-null       float64
 22  longitude.1     5 non-null       float64
 23  stars.1         5 non-null       float64
 24  review_count.1  5 non-null       float64
 25  is_open.1       5 non-null       float64
 26  attributes.1    5 non-null       object
 27  categories.1    5 non-null       object
 28  hours.1         5 non-null       object
dtypes: float64(8), int64(3), object(18)
memory usage: 33.3+ MB

In [5]:
# Eliminamos columnas repetidas
df_business = df_business.drop(columns=["Unnamed: 0", "business_id.1", "name.1", "address.1", "city.1", "state.1", "postal_code.1", "latitude.1", "longitude.1", "stars.1", "review_count.1", "is_open.1", "attributes.1", "categories.1", "hours.1"])
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       145219 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150273 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

In [6]:
# Visualizamos la estructura de los datos
df_business.head(2)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."

In [7]:
# Cambiamos el tipo de dato de la columna "state"
df_business["state"] = df_business["state"].astype(str)

In [8]:
# Filtramos el dataframe con los registros que son de Florida "FL"
df_business_florida = df_business[df_business["state"] == "FL"]
df_business_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26329 entries, 10 to 150320
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   26329 non-null  object
 1   name          26329 non-null  object
 2   address       25413 non-null  object
 3   city          26329 non-null  object
 4   state         26329 non-null  object
 5   postal_code   26321 non-null  object
 6   latitude      26329 non-null  float64
 7   longitude     26329 non-null  float64
 8   stars         26329 non-null  float64
 9   review_count  26329 non-null  int64
 10  is_open       26329 non-null  int64
 11  attributes    23883 non-null  object
 12  categories    26311 non-null  object
 13  hours         22221 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 3.0+ MB

In [9]:
# Eliminamos registros nulos de la columna "categories", para buscar bares
df_business_florida = df_business_florida.dropna(subset=["categories"])
df_business_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26311 entries, 10 to 150320
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   26311 non-null  object
 1   name          26311 non-null  object
 2   address       25395 non-null  object
 3   city          26311 non-null  object
 4   state         26311 non-null  object
 5   postal_code   26303 non-null  object
 6   latitude      26311 non-null  float64
 7   longitude     26311 non-null  float64
 8   stars         26311 non-null  float64
 9   review_count  26311 non-null  int64
 10  is_open       26311 non-null  int64
 11  attributes    23882 non-null  object
 12  categories    26311 non-null  object
 13  hours         22221 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 3.0+ MB

In [10]:
# Definimos una función para buscar filtrar aquellos registros que tienen la categoría "bars"
def filter_bars(df):
    bars_mask = df["categories"].str.contains("bars", case=False)
    df_filtered = df[bars_mask]
    return df_filtered

# Aplicamos la función
df_bars_florida = filter_bars(df_business_florida)
df_bars_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2466 entries, 61 to 150292
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   2466 non-null   object
 1   name          2466 non-null   object
 2   address       2458 non-null   object
 3   city          2466 non-null   object
 4   state         2466 non-null   object
 5   postal_code   2466 non-null   object
 6   latitude      2466 non-null   float64
 7   longitude     2466 non-null   float64
 8   stars         2466 non-null   float64
 9   review_count  2466 non-null   int64
 10  is_open       2466 non-null   int64
 11  attributes    2452 non-null   object
 12  categories    2466 non-null   object
 13  hours         2248 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 289.0+ KB

In [11]:
# transformamos la columnas "latitude" y "longitude" a tipo de dato float
df_bars_florida["latitude"] = df_bars_florida["latitude"].astype(float)
df_bars_florida["longitude"] = df_bars_florida["longitude"].astype(float)
df_bars_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2466 entries, 61 to 150292
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   2466 non-null   object
 1   name          2466 non-null   object
 2   address       2458 non-null   object
 3   city          2466 non-null   object
 4   state         2466 non-null   object
 5   postal_code   2466 non-null   object
 6   latitude      2466 non-null   float64
 7   longitude     2466 non-null   float64
 8   stars         2466 non-null   float64
 9   review_count  2466 non-null   int64
 10  is_open       2466 non-null   int64
 11  attributes    2452 non-null   object
 12  categories    2466 non-null   object
 13  hours         2248 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 289.0+ KB

In [12]:
# Eliminamos los registros con todos los valores nulos
df_bars_florida.dropna(how="all", inplace=True)
df_bars_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2466 entries, 61 to 150292
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   2466 non-null   object
 1   name          2466 non-null   object
 2   address       2458 non-null   object
 3   city          2466 non-null   object
 4   state         2466 non-null   object
 5   postal_code   2466 non-null   object
 6   latitude      2466 non-null   float64
 7   longitude     2466 non-null   float64
 8   stars         2466 non-null   float64
 9   review_count  2466 non-null   int64
 10  is_open       2466 non-null   int64
 11  attributes    2452 non-null   object
 12  categories    2466 non-null   object
 13  hours         2248 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 289.0+ KB

In [13]:
# Juntar las columnas "latitude" y "longitude"
df_bars_florida['coordinates'] = [tuple(row) for row in df_bars_florida[['latitude', 'longitude']].values]
df_bars_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2466 entries, 61 to 150292
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   2466 non-null   object
 1   name          2466 non-null   object
 2   address       2458 non-null   object
 3   city          2466 non-null   object
 4   state         2466 non-null   object
 5   postal_code   2466 non-null   object
 6   latitude      2466 non-null   float64
 7   longitude     2466 non-null   float64
 8   stars         2466 non-null   float64
 9   review_count  2466 non-null   int64
 10  is_open       2466 non-null   int64
 11  attributes    2452 non-null   object
 12  categories    2466 non-null   object
 13  hours         2248 non-null   object
 14  coordinates   2466 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 308.2+ KB

#### Disponibilizamos el archivo

In [14]:
df_bars_florida.to_csv("Data/New_data/df_bars_florida")

In [15]:
# Leemos el siguiente archivo
df_tip = pd.read_json("Data/tip.json", lines=True)
df_tip.info() # Visualizamos información

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  datetime64[ns]
 4   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.7+ MB

In [16]:
# Definimos una función para realizar el filtrado de los dataframes con la columna "business_id"
def filter_other_df(df):
    unique_bars_ids = df_bars_florida["business_id"].unique()
    df_other_filtered = df[df["business_id"].isin(unique_bars_ids)]
    return df_other_filtered

In [17]:
# Aplicamos nuestra función al dataframe "df_tip"
df_tips_florida = filter_other_df(df_tip)
df_tips_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43544 entries, 15 to 908911
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           43544 non-null  object
 1   business_id       43544 non-null  object
 2   text              43544 non-null  object
 3   date              43544 non-null  datetime64[ns]
 4   compliment_count  43544 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 2.0+ MB

#### Necesitamos crear una columna, dentro de nuestro dataframe, que contenga una valoración numérica del sentimiento de análisis a partir de las reseñas hechas por los usuarios

In [18]:
import nltk
nltk.download("vader_lexicon")
from nltk.sentiment.vader import SentimentIntensityAnalyzer

def get_sentiment_score(text):
    if pd.isnull(text) or text == "":
        return 1  # Valor neutral si el texto está vacío o es NaN
    elif isinstance(text, str):
        # Realizamos análisis de sentimiento
        sentiment = sia.polarity_scores(text)
        compound_score = sentiment["compound"]

        # Escalamos la puntuación entre 1 y 5
        score = int(round(5 * compound_score))

        # Asignamos la puntuación
        if score <= 2:
            return 1
        elif score <= 3:
            return 2
        elif score <= 4:
            return 3
        else:
            return 4
    else:
        return 1  # Valor neutral para datos que no son de tipo cadena
    
# Instanciamos el modelo
sia = SentimentIntensityAnalyzer()
df_tips_florida["text"] = df_tips_florida["text"].astype(str)
df_tips_florida["sentiment_analysis"] = df_tips_florida["text"].apply(get_sentiment_score)
df_tips_florida["sentiment_analysis"] = df_tips_florida["sentiment_analysis"].astype(float)
df_tips_florida.info()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Usuario\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

<class 'pandas.core.frame.DataFrame'>
Index: 43544 entries, 15 to 908911
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             43544 non-null  object
 1   business_id         43544 non-null  object
 2   text                43544 non-null  object
 3   date                43544 non-null  datetime64[ns]
 4   compliment_count    43544 non-null  int64
 5   sentiment_analysis  43544 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 2.3+ MB

#### Disponibilzamos el archivo

In [19]:
df_tips_florida.to_csv("Data/New_data/df_tips_florida")

In [20]:
# Leemos el siguiente archivo
df_checkin = pd.read_json("Data/checkin.json", lines=True)
df_checkin.info() # Visualizamos información

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [21]:
# Visualizamos la estructura del dataframe
df_checkin.head(3)

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22

In [22]:
df_checkin["date"][0]

'2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020-07-24 22:42:27, 2020-10-24 21:36:13, 2020-12-09 21:23:33, 2021-01-20 17:34:57, 2021-04-30 21:02:03, 2021-05-25 21:16:54, 2021-08-06 21:08:08, 2021-10-02 15:15:42, 2021-11-11 16:23:50'

In [23]:
# Aplicamos nuestra función al dataframe "df_checkin"
df_checkin_florida = filter_other_df(df_checkin)
df_checkin_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2440 entries, 29 to 131895
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  2440 non-null   object
 1   date         2440 non-null   object
dtypes: object(2)
memory usage: 57.2+ KB

#### Disponibilizamos el archivo

In [24]:
df_checkin_florida.to_csv("Data/New_data/df_checkin_florida")

In [26]:
# Procedemos con el siguiente archivo
df_reviews = pd.read_csv("Data/reviews")
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215334 entries, 0 to 1215333
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   text         1215334 non-null  object
 1   cool         1215334 non-null  int64
 2   stars        1215334 non-null  int64
 3   funny        1215334 non-null  int64
 4   review_id    1215334 non-null  object
 5   useful       1215334 non-null  int64
 6   business_id  1215334 non-null  object
 7   user_id      1215334 non-null  object
dtypes: int64(4), object(4)
memory usage: 74.2+ MB

In [27]:
# Aplicamos nuestra función al dataframe "df_reviews"
df_reviews_florida = filter_other_df(df_reviews)
df_reviews_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 314781 entries, 7 to 1215333
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   text         314781 non-null  object
 1   cool         314781 non-null  int64
 2   stars        314781 non-null  int64
 3   funny        314781 non-null  int64
 4   review_id    314781 non-null  object
 5   useful       314781 non-null  int64
 6   business_id  314781 non-null  object
 7   user_id      314781 non-null  object
dtypes: int64(4), object(4)
memory usage: 21.6+ MB

In [28]:
df_reviews_florida.head(3)

,text,cool,stars,funny,review_id,useful,business_id,user_id
7,Another new slophouse open.This place won`t la...,0,1,1,aLEBvglItfeF2BCkzXf7Tg,0,-0M0b-XhtFagyLmsBtOe8w,5XPhGgEQ0W3WUDrdPfFdHA
46,I had high hopes for The Lemon Bar but was let...,2,1,0,tosz4koWxUjIsQIaZ8ZEpA,0,-1PG6k_iezwJmRZLB7f6og,HPL8K0kU1ufSJuC2eHeubw
47,Finally made it to Lemon Bar! I've been riding...,0,5,0,IKOTpz-PKBPC8zwhfZrIWw,0,-1PG6k_iezwJmRZLB7f6og,JQLJOK5gWjrsUBnrS0eNLA

#### Disponibilizamos el archivo

In [29]:
df_reviews_florida.to_csv("Data/New_data/df_reviews_florida")

In [30]:
# Pasamos al siguiente archivo
df_users_florida = pd.read_csv("Data/userfiltrado.csv")
df_users_florida.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711497 entries, 0 to 711496
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          711497 non-null  int64
 1   user_id             711497 non-null  object
 2   name                711480 non-null  object
 3   review_count        711497 non-null  int64
 4   yelping_since       711497 non-null  object
 5   useful              711497 non-null  int64
 6   funny               711497 non-null  int64
 7   cool                711497 non-null  int64
 8   elite               72985 non-null   object
 9   friends             467062 non-null  object
 10  fans                711497 non-null  int64
 11  average_stars       711497 non-null  float64
 12  compliment_hot      711497 non-null  int64
 13  compliment_more     711497 non-null  int64
 14  compliment_profile  711497 non-null  int64
 15  compliment_cute     711497 non-null  int64
 16  compliment_list     711497 non-null  int64
 17  compliment_note     711497 non-null  int64
 18  compliment_plain    711497 non-null  int64
 19  compliment_cool     711497 non-null  int64
 20  compliment_funny    711497 non-null  int64
 21  compliment_writer   711497 non-null  int64
 22  compliment_photos   711497 non-null  int64
dtypes: float64(1), int64(17), object(5)
memory usage: 124.9+ MB

In [31]:
# Definimos una función para realizar el filtrado de los dataframes con la columna "user_id"
def filter_other_df_by_user(df):
    unique_bars_ids = df_tips_florida["user_id"].unique()
    df_other_filtered = df[df["user_id"].isin(unique_bars_ids)]
    return df_other_filtered

# Aplicamos nuestra función al dataframe "df_checkin"
df_users_bars = filter_other_df_by_user(df_users_florida)
df_users_bars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30511 entries, 1 to 711496
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          30511 non-null  int64
 1   user_id             30511 non-null  object
 2   name                30511 non-null  object
 3   review_count        30511 non-null  int64
 4   yelping_since       30511 non-null  object
 5   useful              30511 non-null  int64
 6   funny               30511 non-null  int64
 7   cool                30511 non-null  int64
 8   elite               9015 non-null   object
 9   friends             26956 non-null  object
 10  fans                30511 non-null  int64
 11  average_stars       30511 non-null  float64
 12  compliment_hot      30511 non-null  int64
 13  compliment_more     30511 non-null  int64
 14  compliment_profile  30511 non-null  int64
 15  compliment_cute     30511 non-null  int64
 16  compliment_list     30511 non-null  int64
 17  compliment_note     30511 non-null  int64
 18  compliment_plain    30511 non-null  int64
 19  compliment_cool     30511 non-null  int64
 20  compliment_funny    30511 non-null  int64
 21  compliment_writer   30511 non-null  int64
 22  compliment_photos   30511 non-null  int64
dtypes: float64(1), int64(17), object(5)
memory usage: 5.6+ MB

#### Disponibilizamos el archivo

In [32]:
df_users_bars.to_csv("Data/New_data/df_users_bars")

In [33]:
# Siguiente archivo
df_metadatos_florida = pd.read_parquet("Data/metadatos_florida.parquet")
df_metadatos_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 220140 entries, 14 to 3025009
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              220140 non-null  object
 1   address           220140 non-null  object
 2   gmap_id           220140 non-null  object
 3   description       18256 non-null   object
 4   latitude          220140 non-null  float64
 5   longitude         220140 non-null  float64
 6   category          218724 non-null  object
 7   avg_rating        220140 non-null  float64
 8   num_of_reviews    220140 non-null  int64
 9   price             18397 non-null   object
 10  hours             168798 non-null  object
 11  MISC              176899 non-null  object
 12  state             220140 non-null  object
 13  relative_results  196959 non-null  object
 14  url               220140 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 26.9+ MB

In [34]:
# Visualizamos la estructura
df_metadatos_florida.head(3)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
14,NTK OUTDOOR,"NTK OUTDOOR, 2315 NW 107th Ave #1B18, Miami, F...",0x88d9beb4fe0532c1:0xef0555c169299d6,None,25.795204,-80.366038,[Corporate office],5.0,35,None,"[[Thursday, 9AM–6PM], [Friday, 9AM–6PM], [Satu...",{'Accessibility': ['Wheelchair accessible entr...,Open ⋅ Closes 6PM,"[0x88d9bfd49a624c3f:0x280afc17e8164d79, 0x88d9...",https://www.google.com/maps/place//data=!4m2!3...
45,Cruises Inc. - Connie Stewart,"Cruises Inc. - Connie Stewart, 6602 52nd Ln, P...",0x88c2e49b79f06c31:0x4ed8c8ce27e926e0,None,27.832187,-82.704805,[Cruise agency],5.0,2,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",None,Open ⋅ Closes 5PM,"[0x88c2fd3f88a7ab09:0x56dad3c1999b618f, 0x88c2...",https://www.google.com/maps/place//data=!4m2!3...
56,Seminole Family Restaurant,"Seminole Family Restaurant, 6864 Seminole Blvd...",0x88c2fb8614e57ce9:0x40b51628875ad6e9,None,27.834885,-82.787419,None,3.6,8,$$,None,None,None,"[0x88c2fc799a3fa1ad:0x2d1a46c8f525bf3e, 0x88c2...",https://www.google.com/maps/place//data=!4m2!3...

In [35]:
df_bars_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2466 entries, 61 to 150292
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   2466 non-null   object
 1   name          2466 non-null   object
 2   address       2458 non-null   object
 3   city          2466 non-null   object
 4   state         2466 non-null   object
 5   postal_code   2466 non-null   object
 6   latitude      2466 non-null   float64
 7   longitude     2466 non-null   float64
 8   stars         2466 non-null   float64
 9   review_count  2466 non-null   int64
 10  is_open       2466 non-null   int64
 11  attributes    2452 non-null   object
 12  categories    2466 non-null   object
 13  hours         2248 non-null   object
 14  coordinates   2466 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 308.2+ KB

In [36]:
# Definimos una función para realizar el filtrado de los dataframes con la columna "address"
def filter_other_df_by_name(df):
    unique_bars_ids = df_bars_florida["name"].unique()
    df_other_filtered = df[df["name"].isin(unique_bars_ids)]
    return df_other_filtered

In [37]:
# Aplicamos nuestra función al dataframe "df_metadatos_florida"
df_bars_florida["name"] = df_bars_florida["name"].astype(str)
df_metadatos_florida["name"] = df_metadatos_florida["name"].astype(str)
df_metadatos_bars_fl = filter_other_df_by_name(df_metadatos_florida)
df_metadatos_bars_fl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 445 entries, 16968 to 3023137
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              445 non-null    object
 1   address           445 non-null    object
 2   gmap_id           445 non-null    object
 3   description       340 non-null    object
 4   latitude          445 non-null    float64
 5   longitude         445 non-null    float64
 6   category          443 non-null    object
 7   avg_rating        445 non-null    float64
 8   num_of_reviews    445 non-null    int64
 9   price             268 non-null    object
 10  hours             376 non-null    object
 11  MISC              433 non-null    object
 12  state             445 non-null    object
 13  relative_results  375 non-null    object
 14  url               445 non-null    object
dtypes: float64(3), int64(1), object(11)
memory usage: 55.6+ KB

#### Disponibilizamos el archivo, tiene metadatos de menos de 500 bares, podría servir como dataset auxiliar e en el análisis multivariado del area de analítica

In [38]:
df_metadatos_bars_fl.to_csv("Data/New_data/df_metadatos_bars_fl")

In [39]:
# Pasamos al siguiente archivo
df_reviews_2_florida = pd.read_parquet("Data/df_reviews_florida.parquet")
df_reviews_2_florida.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850000 entries, 0 to 2849999
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  float64
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: float64(1), int64(2), object(5)
memory usage: 174.0+ MB

In [40]:
# Definimos una función para realizar el filtrado de los dataframes con la columna "gmap_id"
def filter_other_df_by_gmap_id(df):
    unique_gmap_ids = df_metadatos_bars_fl["gmap_id"].unique()
    df_other_filtered = df[df["gmap_id"].isin(unique_gmap_ids)]
    return df_other_filtered

In [41]:
df_reviews_2_bars = filter_other_df_by_gmap_id(df_reviews_2_florida)
df_reviews_2_bars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76013 entries, 6002 to 2844358
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  76013 non-null  float64
 1   name     76013 non-null  object
 2   time     76013 non-null  int64
 3   rating   76013 non-null  int64
 4   text     45635 non-null  object
 5   pics     3216 non-null   object
 6   resp     15338 non-null  object
 7   gmap_id  76013 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 5.2+ MB

#### Disponibiizamos el archivo

In [42]:
df_reviews_2_bars.to_csv("Data/New_data/df_reviews_2_bars")